- is_current_session = active_session.current?(session)

%li.list-group-item
  .float-left.gl-mr-3{ data: { toggle: 'tooltip' }, title: active_session.human_device_type }
    = active_session_device_type_icon(active_session)

  .description.float-left
    %div
      %strong= active_session.ip_address
    - if is_current_session
      %div
        = _('This is your current session')
    - else
      %div
        = _('Last accessed on')
        = l(active_session.updated_at, format: :short)

    %div
      %strong= active_session.browser
      = s_('ProfileSession|on')
      %strong= active_session.os

    %div
      %strong= _('Signed in')
      = s_('ProfileSession|on')
      = l(active_session.created_at, format: :short)
      - if active_session.admin_mode
        %strong= _('with Admin Mode')

  - unless is_current_session
    .float-right
      = link_button_to revoke_session_path(active_session), data: { confirm: _('Are you sure? The device will be signed out of GitLab and all remember me tokens revoked.'), confirm_btn_variant: :danger }, method: :delete, class: 'gl-ml-3', variant: :danger, 'aria-label': _('Revoke') do
        = _('Revoke')
